<%= form_with(model: denounce, local: true) do |form| %>
  <% if denounce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(denounce.errors.count, "error") %> prohibited this denounce from being saved:</h2>

      <ul>
      <% denounce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :facts %>
    <%= form.text_area :facts %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_area :observations %>
  </div>

  <div class="field">
    <%= form.label :denounce_type_id %>
    <%= form.text_field :denounce_type_id %>
  </div>

  <div class="field">
    <%= form.label :bot_id %>
    <%= form.text_field :bot_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
