<p id="notice"><%= notice %></p>

<h1>Denounces</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Facts</th>
      <th>Observations</th>
      <th>Denounce type</th>
      <th>Bot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @denounces.each do |denounce| %>
      <tr>
        <td><%= denounce.id %></td>
        <td><%= denounce.facts %></td>
        <td><%= denounce.observations %></td>
        <td><%= denounce.denounce_type_id %></td>
        <td><%= denounce.bot_id %></td>
        <td><%= link_to 'Show', denounce %></td>
        <td><%= link_to 'Edit', edit_denounce_path(denounce) %></td>
        <td><%= link_to 'Destroy', denounce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Denounce', new_denounce_path %>
