<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @denounce_type.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @denounce_type.title %>
</p>

<%= link_to 'Edit', edit_denounce_type_path(@denounce_type) %> |
<%= link_to 'Back', denounce_types_path %>
