<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @bot.id %>
</p>

<p>
  <strong>Token face:</strong>
  <%= @bot.token_face %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @bot.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @bot.end_date %>
</p>

<p>
  <strong>Token:</strong>
  <%= @bot.token_id %>
</p>

<p>
  <strong>Teenager:</strong>
  <%= @bot.teenager_id %>
</p>

<%= link_to 'Edit', edit_bot_path(@bot) %> |
<%= link_to 'Back', bots_path %>
