<%= form_with(model: teenager, local: true) do |form| %>
  <% if teenager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teenager.errors.count, "error") %> prohibited this teenager from being saved:</h2>

      <ul>
      <% teenager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :identification %>
    <%= form.number_field :identification %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.number_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :id_facebook %>
    <%= form.text_field :id_facebook %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :psychologist_id %>
    <%= form.text_field :psychologist_id %>
  </div>

  <div class="field">
    <%= form.label :teenager_history_id %>
    <%= form.text_field :teenager_history_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
