<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @psychologist.id %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @psychologist.identification %>
</p>

<p>
  <strong>Name:</strong>
  <%= @psychologist.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @psychologist.location %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @psychologist.cv %>
</p>

<p>
  <strong>Address:</strong>
  <%= @psychologist.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @psychologist.telephone %>
</p>

<p>
  <strong>Id facebook:</strong>
  <%= @psychologist.id_facebook %>
</p>

<p>
  <strong>Email:</strong>
  <%= @psychologist.email %>
</p>

<%= link_to 'Edit', edit_psychologist_path(@psychologist) %> |
<%= link_to 'Back', psychologists_path %>
